.headerContainer{
    height: 70px;
    background-color: #08192a;
}

.logo {
  float: left;
  height: 80px;
}

.logoContainer {
  float: left;
  width: 200px;
  height: 100px;
  margin: 0;
}

.logoName {
    margin-top: 35px;
    font-size: 2em;
    float: left;
    color: white;
}